html {
  scroll-behavior: smooth;
}

.background{
    background-image: url("https://wallup.net/wp-content/uploads/2019/09/12512-minimalistic-pixels-dirt-minecraft-pixelation-simple-background-748x468.png");
}

.main_container{
    display: flex;
}


/*  */
.sidebar{
    background-color: white;
    padding-top: 10px;
    width: 110px;
    border: 1px, solid,white;
    color: rgb(0, 0, 0);
    position: fixed;
    padding: 2px;
    top: 1%;
    bottom: 1%;
    left: 1%;
}
.sidebar ul{
    list-style-type: none;
    padding: 0;
}
.sidebar a{
    display: block;
    padding: 10px;
    transition: 0.3s;
}
.sidebar a:hover{
    background-color: #dddddd;
    color: red;
}

.content{
    margin-left: 150px;
    padding: 14px;
}
/*  */

.header_1{ 
    left: 50%;
    top: 6px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    transition: 400ms;
    text-align: center;
    /* position: fixed; */
    line-height: 6px;
    left: 5%;
    right: 5%;
    border: 1px, solid, white;
    border-radius: 14px;
    background-image: url("https://t3.ftcdn.net/jpg/02/92/61/48/360_F_292614847_U24lM0AuCaTHTJUQETIG6oWK1NPGddhx.jpg");
}
.header_1:hover{
    color: rgb(187, 190, 192);
}

#intro{
    color: white;
    transition: 0.2s;
}
#intro:hover{
    color: antiquewhite;
}

h2{
    color:white;
    transition: 200ms;
}
h2:hover{
    color: rgb(156, 243, 228);
}

.important{
    color: red;
    transition: 0.2s;
    font:bold;
}
.important:hover{
    color: rgb(234, 131, 200);
}

.ad{
    border: 1px, white, solid;
    border-radius: 12px;
    color: white;
    position:fixed;
    margin: 20px;
    padding: 20px;

    right: 0;
    top: 40%; /* Position vertically (optional) */
    transform: translateY(-50%); /* Perfectly center vertically */
    width: 10%;
    height: 10%;
    z-index: 1000;

    background-image: url("https://wallpapers.com/images/featured/shrek-background-t28bqnccsqk0su84.jpg");
    transition: 0.3s;
}
.ad:hover{
    color: red;
}

.ad_font{
    text-align: center;
}
.small_font{
    font-size:x-small;
    text-align: center;
}

body{
    color: white;
}

#why{
    color: antiquewhite;
}

.click_button{
    padding:  10px 20px;
    font-size: 16px;
    transition: 0.1s ease;
}
.click_button:active{
    transform: scale(0.94);
}

#click_me{
    font-size: small;
    left: 200px;
}
