html {
  scroll-behavior: smooth;
}

.background{
    background-image: url("https://wallup.net/wp-content/uploads/2019/09/12512-minimalistic-pixels-dirt-minecraft-pixelation-simple-background-748x468.png");
}

.main_container{
    display: flex;
}

/* bookmark bar */
.sidebar{
    background-image: url("https://i.pinimg.com/736x/8a/79/ae/8a79ae60c65c025c65d1e9a70fdacd95.jpg");
    padding-top: 10px;
    width: 110px;
    border: 1px, solid,white;
    border-radius: 13px;
    color: rgb(0, 0, 0);
    position: fixed;
    padding: 2px;
    top: 1%;
    bottom: 1%;
    left: 1%;
}
.sidebar ul{
    list-style-type: none;
    padding: 0;
    color: black;
}
.sidebar a{
    display: block;
    padding: 10px;
    transition: 0.3s;
    color: white;
}
.sidebar a:hover{
    background-color: #dddddd;
    color: red;
}

.content{
    font-size: larger;
    color: white;
    margin-left: 130px;
    padding: 14px;
    margin-right: 160px;
}
.bookmark{
    color: white;
    font:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s;
}
.bookmark:hover{
    color: rgb(95, 226, 243);
}
/*  */

.header_1{ 
    width: fit-content;
    top: 6px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 43%;
    /* margin-right: 20%;  */
    transition: 400ms;
    text-align: center; 
    /* position: fixed; */
    line-height: 6px;
    /*left: 300px;
    right: 300px;  */
    border: 1px, solid, white;
    border-radius: 14px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/77cbf476-3a0b-4ff8-89f3-a78bb2abad32/de4p4yw-425a39b9-20ab-490b-8c4f-1bd622c653d0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi83N2NiZjQ3Ni0zYTBiLTRmZjgtODlmMy1hNzhiYjJhYmFkMzIvZGU0cDR5dy00MjVhMzliOS0yMGFiLTQ5MGItOGM0Zi0xYmQ2MjJjNjUzZDAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.GlPLzQm2unIoh5RwC-1dKP_6nUAmE5iA32BxBiBPRyU");
}
.header_1:hover{
    color: rgb(187, 190, 192);
}

#intro{
    color: white;
    transition: 0.2s;
}
#intro:hover{
    color: antiquewhite;
}

h2{
    color:white;
    transition: 200ms;
}
h2:hover{
    color: rgb(156, 243, 228);
}

.important{
    color: red;
    transition: 0.2s;
    font:bold;
}
.important:hover{
    color: rgb(234, 131, 200);
}

.ad{
    border: 1px, white, solid;
    border-radius: 12px;
    color: rgb(137, 249, 112);
    position:fixed;
    margin: 10px;
    padding: 10px;

    right: 0;
    top: 20%; 
    transform: translateY(-50%); 
    width: 10%;
    height: 13%;
    z-index: 1000;

    background-image: url("https://minecraft.wiki/images/thumb/Gold_Ore_%28texture%29_JE7_BE4.png/120px-Gold_Ore_%28texture%29_JE7_BE4.png?6a8a2");
    transition: 0.3s;
}
.ad:hover{
    color: rgb(246, 255, 0);
}

.ad_font{
    top: 0;
    text-align: center;
    line-height: 0px;
}
.small_font{
    color: black;
    font-size:larger;
    text-align: center;
}

body{
    color: white;
}

#why{
    color: antiquewhite;
}

.click_button{
    padding:  10px 20px;
    font-size: 16px;
    transition: 0.1s ease;
}
.click_button:active{
    transform: scale(0.94);
}

#click_me{
    font-size: small;
    left: 200px;
    margin-left: 10%;

}

.website{
    color: white;
    transition: 0.2s;
}
.website:hover{
    color: bisque;
}
.link{
    color: #dddddd;
    transition: 0.2s;
}
.link:hover{
    background-color: rgb(142, 142, 142);
}
.ad2{
    font-size: x-large;
    text-align: center;
    border: 1px, white, solid;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    position:fixed;
    margin: 10px;

    right: 0;
    top: 50%; 
    transform: translateY(-50%); 
    width: 180px;
    height: 120px;

    background-image: url("https://i.redd.it/9ra517ybxow21.png");
    transition: 0.3s;
}
.ad2:hover{
    color: yellow;
}

#end_poem{
    font-size: larger;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
}
.end{
    transition: 0.3s;
}
.end:hover{
    color: rgb(242, 239, 161);
}
.color_change{
    margin: 10px;
    padding: 15px;
    line-height: 4;
    animation: colorChange 3s infinite alternate;
    transition: 0.2s;
    border-radius: 12px;
}
.color_change:hover{
    font-style: italic;
    border: 4px,red,solid;
}
@keyframes colorChange{
    0%{
        color: red;
        background-color: green;
        border: 2px,solid,red;
    }
    20%{
        color: orange;
        background-color: blue;
        border: 2px,solid,orange;
    }
    40%{
        color: yellow;
        background-color: purple;
        border: 2px,solid,yellow;
    }
    60%{
        color:rgb(67, 221, 67);
        background-color: red;
        border: 2px,solid,rgb(67,211,67);
    }
    80%{
        color: cyan;
        background-color: rgb(255, 94, 0);
        border: 2px,solid,cyan;
    }
    100%{
        color: purple;
        background-color: yellow;
        border: 2px,solid,purple;
    }
}
